@charset "utf-8";

@media (min-width:1100px){
    .nav{width: 100vw; height: 100vh; background-color: black; position: fixed; z-index: 9998; text-align: center;}
    .navinbox{width: 100%; height: 100%;}
    .inbox1{width: 100%; height: 20%;  display: flex; flex-wrap: wrap; justify-content: center;  }
    .inbox1 span{overflow: hidden; width: 100%; height: 100%; font-size: 10vmin; color: lightyellow;  animation-duration: 3s; animation-name: rainbow; animation-iteration-count: infinite;}
    .inbox2{width: 100%; height: 80%;  display: flex; flex-wrap: wrap; justify-content: center; align-content: space-around;}
    .inbox2 li{width: 100%; font-size: 6vmin; color: white; text-align: center; cursor: pointer; }
    .inbox2 li:nth-of-type(1):hover{ color: #ff2a2a; transition: 2s;}
    .inbox2 li:nth-of-type(2):hover{ color: #ffc52a; transition: 2s;}
    .inbox2 li:nth-of-type(3):hover{ color: #2a89ff; transition: 2s;}
    .inbox2 li:nth-of-type(4):hover{ color: #6b2aff; transition: 2s;}

    .skillbox{width: 80%; height: 100vh; margin: 0 auto;}
        .skillbox1{width: 100%; height: 20%;  display: flex; flex-wrap: wrap; justify-content: center; align-content: center; }
        .skilltext{width: 90%; height: 90%;  text-align: center; overflow: hidden;}
        .skilltext span{font-size: 10vmin; line-height: 150px; animation-duration: 3s; animation-name: rainbow; animation-iteration-count: infinite;}
        .skillbox2{width: 100%; height: 80%; display: flex; flex-wrap: wrap; justify-content: space-around; align-content: space-around;}
        .skillbox2 span{color: white; font-family: "fontR"; line-height:150px;}
        .pie-chart { width: 225px; height: 225px; border-radius: 50%; transition: 0.3s;  display: flex; flex-wrap: wrap; justify-content: center; align-content: center;}
        .center{ background: black; display : block; width:135px; height:135px;
            border-radius: 50%; text-align:center; line-height: 200px; font-size:50px; color: white;}
        .skill_1{width: 32%; height: 49%; }
        .skill_11{width: 100%; height: 85%;  display: flex; flex-wrap: wrap; justify-content: center;  align-content: center;}
        .skill_12{width: 100%; height: 15%;  text-align: center; overflow: hidden;}
        .skill_12 span{width: 100%; height: 100%; font-size: 4vmin; line-height: 50px; font-family: "fontR";}
        .skill_2{width: 32%; height: 49%; }
        .skill_3{width: 32%; height: 49%; }
        .skill_4{width: 32%; height: 49%; }
        .skill_5{width: 32%; height: 49%; }
        .skill_6{width: 32%; height: 49%; }
        .count3,.count4{font-size: 110px; line-height: 230px;}
        .center{overflow: hidden;}
}