@charset "utf-8";

@media (min-width:1200px) and (max-width:1599px){
    .nav{width: 100vw; height: 100vh; background-color: black; position: fixed; z-index: 9998; text-align: center;}
        .navinbox{width: 100%; height: 100%;}
        .inbox1{width: 100%; height: 20%;  display: flex; flex-wrap: wrap; justify-content: center;  }
        .inbox1 span{overflow: hidden; width: 100%; height: 100%; font-size: 10vmin; color: lightyellow;  animation-duration: 3s; animation-name: rainbow; animation-iteration-count: infinite;}
        .inbox2{width: 100%; height: 80%;  display: flex; flex-wrap: wrap; justify-content: center; align-content: space-around;}
        .inbox2 li{width: 100%; font-size: 6vmin; color: white; text-align: center; cursor: pointer; }
        .inbox2 li:nth-of-type(1):hover{ color: #ff2a2a; transition: 2s;}
        .inbox2 li:nth-of-type(2):hover{ color: #ffc52a; transition: 2s;}
        .inbox2 li:nth-of-type(3):hover{ color: #2a89ff; transition: 2s;}
        .inbox2 li:nth-of-type(4):hover{ color: #6b2aff; transition: 2s;}

        .introbox{width: 90%; height: 200vh; margin: 0 auto;}
        .introbox1{width: 100%; height: 10%;  display: flex; flex-wrap: wrap; justify-content: center; align-content: center;}
        .introtext{width: 80%; height: 80%;  text-align: center; overflow: hidden;}
        .introtext span{width: 100%; height: 100%; font-size: 7vmin; animation-duration: 3s; animation-name: rainbow; animation-iteration-count: infinite;}
        .introbox2{width: 100%; height: 90%; }
        .introbox21{width: 100%; height: 25%; }
        .introbox211{width: 70%; height: 100%; background-color: black; margin: 0 auto; text-align: center; display: flex; flex-wrap: wrap; justify-content: center; align-content: center;}
        .introbox211 p{color: white; font-size: 3vmin; font-family: 'fontR';}
        .introbox211 span {color:yellow;}
        
        .bold{font-weight: bolder;}
        .introbox22{width: 100%; height: 45%; display: flex; flex-wrap: wrap;}
        .introbox22pic{width: 50%; height: 100%; display: flex; flex-wrap: wrap; justify-content: center; align-content: center;}
        .picture{width: 470px; height: 520px; border-radius: 50%;   background-image: url("../img/me.jpg"); background-position: center;
        background-repeat: no-repeat; background-size: cover;}
        .introbox22tex{width: 50%; height: 100%; display: flex; flex-wrap: wrap; justify-content: center; align-content: center;}
        .textbox{width: 90%; height: 90%; }
        .textboxmenu{width: 100%; height: 15%;  display: flex; flex-wrap: wrap; justify-content: space-between; align-content: center;}
        .textboxmenu li{cursor: pointer; width: 49%; height: 70%; font-size: 4vmin; overflow: hidden; color: white; text-align: center; line-height: 70px; border: 2px solid white;}
        .textboxmenu li:hover {
            background:white;
            color:black;
            
        }
        .textboxcontents{width: 100%; height: 85%;  position: relative;}
        .content1{width: 100%; height: 100%;  position: absolute; display: flex; flex-wrap: wrap; align-content: center;}
        .content11{width: 100%; height: 60%; }
        .content11 span{font-family: 'fontR'; font-size: 2vmin; width: 100%; color: white; line-height:50px;}
        .content2{width: 100%; height: 100%;  position: absolute; display: flex; flex-wrap: wrap; align-content: center;}
        .content21{width: 100%; height: 80%; }
        .content21 span{font-family: 'fontR'; font-size: 2vmin; width: 100%; color: white; line-height:40px;}
        
        .introbox23{width: 100%; height: 30%;  display: flex; flex-wrap: wrap; justify-content: center; align-content: center;}
        .graph{width: 90%; height: 90%; }
        .graph h1{font-size: 4.5vmin; color: white;}
        .gr-skill-bar {color: #fff; font-size: 3vmin;line-height: 50px;height: 12% ; margin: 10px 0 10px 0; background-color: rgba(0,0,0,0.1);
        border-radius: 2px; overflow: hidden;}
        .gr-skill-bar * {transition: all 0.5s ease;}
        .gr-skill-bar div {background-color: #ffc600; position: relative; padding-left: 25px;width: 0; border-radius: 2px; overflow: hidden; font-family: 'fontR';}
        .gr-skill-bar:nth-of-type(1) div{background-color: red;}
        .gr-skill-bar:nth-of-type(2) div{background-color: orange;}
        .gr-skill-bar:nth-of-type(3) div{background-color: lightgreen;}
        .gr-skill-bar:nth-of-type(4) div{background-color: #2a89ff;}
        .gr-skill-bar:nth-of-type(5) div{background-color: #e82aff;}

        .gr-skill-bar span {display: block; position: absolute; right: 0; top: 0; height: 100%; padding: 0 5px 0 10px; background-color: #1a1a1a;
        border-radius: 0 2px 2px 0; overflow: hidden; }
}